.hero {
    height: 100vh;
    background-image: url('../img/BackgroundHero3.png'); /* Du byter till egen bild */
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    text-align: center;
    color: white;
    animation: fadeIn 1.5s ease-in-out forwards;
    opacity: 0;
}
.hero-title {
    font-size: 3rem;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
}


.hero-title,
.hero-subtitle {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}


.hero-subtitle {
    font-size: 1.4rem;
    margin-bottom: 20px;
    font-weight: 300;
}

.hero-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
